#footer-container {
  background-color: $c--footer-bg;
  border-top: 1px solid #ccc;
  margin: rem-calc(60) auto 0; margin-top: 0;
  max-width: 100%;
  width: 100%;

  #footer {
    @include grid-row;
    padding: rem-calc(30) 0;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  }
}

.footer {
  &__heading,
  .widget__heading {
    font-size: 1.6rem;
  }

  &__sub-heading {
    font-size: 1.2rem;
    margin-bottom: 0;
  }

  &__table {
    tbody,
    tbody tr:nth-child(even) {
      background-color: transparent;
      border: 0;
    }
  }

  td {
    padding: 0;
  }
}
