#footer-container {
  background-color: $c--footer-bg;
  border-top: 1px solid #ccc;
  margin: rem-calc(60) auto 0;
  max-width: 100%;
  width: 100%;

  #footer {
    @include grid-row;
    padding: rem-calc(30) 0;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  }
}

.footer {
  .widget {
    &__heading {
      font-size: 1.6rem;
    }

    tbody,
    tr {
      background-color: transparent;
      border: 0;
    }

    td {
      padding: 0;
    }
  }
}
