$header-ht--large: 6.5rem;
$header-ht--medium: 4rem;
$header-ht--small: 3rem;

/* Navigation breakpoints */
.desktop-menu, .top-bar-left {
  line-height: $header-ht--medium;
  display: inline-block;
  float: none;

  @include breakpoint(med-large) {
    line-height: $header-ht--medium;
    float: left;
  }
    
  @include breakpoint(large) {
    line-height: $header-ht--large;

    .menu a {
      line-height: $header-ht--large;
    }
  }
}

.desktop-menu, .top-bar-left {
  @include show-for(medium);
}

/* Site nav */
.top-bar-right {

  @include breakpoint(med-large) {
    float: right;
  }

  float: none;
  display: inline-block;

  .menu a {
    line-height: $header-ht--medium;
  }
}

#mobile-menu, .title-bar {
  @include hide-for(medium);
}

/* Header wrapper */
.site-header {
  background-color: $topbar-background;
}

/* Logo */
.fcbc-logo {
  fill: $white;
  float: left;
  height: $header-ht--small;
  width: $header-ht--small;

  @include breakpoint(medium) {
    height: $header-ht--medium;
    width: $header-ht--medium;
  }

  @include breakpoint(large) {
    height: $header-ht--large;
    width: $header-ht--large;
  }

}

/* Mobile menu */
.title-bar {
  background-color: $topbar-background;
  padding: 0 10px;
}

/* Hamburger icon */
.menu-icon {
  float: right;
  right: 5px;
  top: 15px;
}

.off-canvas {
  > ul.menu {
    height: 100vh;
    padding: 1rem;
  }
}

.title-bar-title {
  display: block;

  a {
    color: $white;
    font-size: 1.2rem;
    line-height: $header-ht--small;
    
  }
}

/* Tablet and desktop menu */
.top-bar {
  text-align: center;
  height: auto;
  // Set max width
  @include grid-row;

  // Override ul BG
  ul {
    background-color: transparent;
  }

  // Logo/site title
  .menu .home a {
    color: $white;
    font-size: 1.7rem;

    @include breakpoint(large) {
      font-size: 2.4rem;
      line-height: $header-ht--large;
    }
  }

  .menu a {
    line-height: $header-ht--small;

    @include breakpoint(medium) {
      line-height: $header-ht--medium;
    }

    @include breakpoint(large) {
      line-height: $header-ht--large;
    }

    color: #e6e6e6;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: bold;
    font-size: 1rem;
    transition: 300ms;

    &:hover:not(.button) {
      background-color: darken($c--header-bg, 7%);
    }
  }

  .menu li:not(:last-child) {
    border-right: 1px solid darken($c--header-bg, 7%);
  }

  .dropdown.menu .submenu {
    background-color: #121212;
    color: #e6e6e6;
    border: 0;
  }

  .dropdown.menu .has-submenu.is-down-arrow a {
    padding-right: 1rem;
  }

  .dropdown.menu .has-submenu.is-down-arrow > a::after {
    border: 0;
  }
  .dropdown.menu:first-child >
  li.is-dropdown-submenu-parent >
  a::after {
    display: none;
  }
}

/* Basic styles for post navigation. Nicolas Gallagher's "Micro clearfix" https://css-tricks.com/snippets/css/clear-fix/ */
.post-navigation:before,
.post-navigation:after {
  content: "";
  display: table;
}

.post-navigation:after {
  clear: both;
}

/* Text meant only for screen readers. Addresses part of theme-check issue #840. https://github.com/Automattic/_s/blob/master/style.css */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

.nav-previous {
  float: left;
}

.nav-next {
  float: right;
}