.awesome-events-wrapper,.awesome-programs-wrapper{
  .slick-list{
    display:block; min-width: 100%;

    .slick-track{
      display:block; min-width: 100%;
    }
  }


  .card{
    padding: 0;

    .card-img-overlay{
      padding: 0 !important;

      .card-text{
        position: static;
      }
    }

    &:hover{
      .card-text{
        background-color: lighten($flat-black, 20%);
      }
    }

    .inner{
      padding-left: 0 !important;
    }
  }
}